.NavMenu {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.NavIcon {
  width: 20px;
}
.SwiperImageSlider {
  margin-top: 20px;
  height: 50vh;
  padding: 20px !important;
  width: 100vw;
  min-height: 150px;
}
@media (max-width: 500px) {
    .SwiperImageSlider{
        height: 40vh;
    }
}
